<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Sema.Properties.Settings.ConnectionString" connectionString="Data Source=CD_WORK;User ID=IMPORT_USER;Password=sT7hk9Lm"
            providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>